<ul class="sidenav">
    <li>
        <img src="https://ncccc.org/wp-content/uploads/2018/09/State-Farm-Logo.png" width="111px">
    </li>
        <li>
        <a href="#about">Contact Center Central -03</a>
    </li>
    <li class="righalign">
        <a href="#home">Dashboard</a>
    </li>
    <li class="righalign">
        <a href="#news">Manage by Schedule</a>
    </li>
    <li class="righalign">
        <a href="#contact">User Management</a>
    </li>
    <li class="righalign">
        <a href="#about">System Administration</a>
    </li>
</ul>